<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Bin2Dec</title>
</head>
<body>
    <h1 class="title">Bin 2 Dec</h1>
    <div class="form">
        <input type="numeric" id="binary" class="form__input">
        <button class="form__button" id="convert">Convert</button>
    </div>
    <div class="container">
        <h3 class="container__header">The decimal value is : </h3>
        <h2 class="container__value" id="decimal"></h2>
    </div>
    <script src="../src/binary2dec.js"></script>
</body>
</html>